.friends_nickname{
    float:left;
    width: 90%;
    height: 20px;
    margin:5px 5% 5px 5%;
}

.friends_button{
    width: 40%;
    height: 30px;
    margin:5px 5% 5px 5%;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

.friends_oneContainer{
    width: 90%;
    margin: 20px 5% 20px 5%;
}

