.friends_nickname{
    float:left;
    width: 90%;
    height: 20px;
    margin:5px 5% 5px 5%;
}

.friends_button{
    width: 40%;
    height: 30px;
    margin:5px 5% 5px 5%;
}

.friends_oneContainer{
    width: 90%;
    margin: 20px 5% 20px 5%;
}

