.login-type {
    background: #FFFFFF;
    border: 1px solid #2d416d;
    box-shadow: 0 1px #5670a4 inset, 0 0 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    width: 360px;
    height: 380px;
    margin: 10px auto 20px auto;
    padding: 50px 30px 0 30px;
    text-align: center;
}

#login-btn {
    width: 100px;
    height: 30px;
    margin:0px 0px 0px 55px;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    background-color: blue;
    float: left;
    color: #fff;
}
#login-btn:hover {
    background-color: green;
}

#register-btn {
    width: 100px;
    height: 30px;
    margin:0px 0px 0px 55px;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    background-color: blue;
    float: left;
    color: #fff;
}
#register-btn:hover {
    background-color: green;
}