<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css" />
</head>

<body>
<section class="login-type">
    <h1 >Facebook</h1>
    <form>
        <label for="username"> <input type="username" id="username" required placeholder="Username"></label>
        <label for="password"><input type="password" id="password" required placeholder="Password"></label>
        <input type="submit" value="login">

        <a style="text-decoration: none;" href="register.html">
            <input type = "button" value = "register">
        </a>
    </form>


</section>

<script type="text/javascript" src="/js/index.js"></script>

</body>
</html>