<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>moments</title>
    <link rel="stylesheet" href="css/moments.css" type="text/css"/>
    <script language="JavaScript">
        let pages = 0;
        let end = false;
        let synch = false;
        let itemInPages = 5;
        setTimeout("showMoments()", 60000);
    </script>
</head>

<body onload="loadMoreMoments()">
<div id="moments_column_1">
	<button onclick="showMoments()" class="column_1_button">refresh</button>
</div>

<div id="moments_column_2">
    <div id="momentContainer">
    </div>
</div>

<div id="moments_column_3">

</div>


<script language="JavaScript">
    window.onscroll = function () {
        //console.log(getDocumentTop(), getWindowHeight(), getScrollTop())
        if (synch && !end && getDocumentTop() + getWindowHeight() == getScrollTop()) {
            synch = false;
            loadMoreMoments();
        }
    };
    window.onresize = function () {
        //console.log(getDocumentTop(), getWindowHeight(), getScrollTop())
        if (synch && !end && getDocumentTop() + getWindowHeight() == getScrollTop()) {
            synch = false;
            loadMoreMoments();
        }
    };
</script>
<script type="text/javascript" src="js/moments.js"></script>
<script type="text/javascript" src="js/windowUtil.js"></script>
<script type="text/javascript" src="js/utility.js"></script>
</body>
</html>