<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" href="/css/register.css" type="text/css" />
</head>
<body>
<section class="register-type">
    <h1 >Rigister</h1>
    <form action = "#" method="get">
        <label for="username"><input type="username" id="username" required placeholder="Username"></label>
        <label for="password"><input type="password" id="password" required placeholder="Password"></label>
        <label for="confirmp"><input type="confirmp" id="confirmp" required placeholder="Confirm Password"></label>
        <label for="nickname"><input type="nickname" id="nickname" required placeholder="Nickname"></label>
        <input type="button" value="submit" id="submit-btn" onclick="myRegister()">
        <input type="button" value="back" id="back-btn" onclick="window.location.href = 'login'">
    </form>

</section>

<script type="text/javascript"
        src="js/register.js"></script>
<script type="text/javascript"
        src="js/utility.js"></script>
</body>
</html>