<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" href="/css/register.css" type="text/css" />
</head>

<body>
<section class="register-type">
    <h1 >Rigister</h1>
    <form action = "#" method="get">
        <label for="username"><input type="username" id="username" required placeholder="Username"></label>
        <label for="password"><input type="password" id="password" required placeholder="Password"></label>
        <label for="confirmp"><input type="confirmp" id="confirmp" required placeholder="Confirm Password"></label>
        <input type = "button" value = "register">
    </form>

</section>

</body>
</html>
