<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" href="/css/register.css" type="text/css" />
</head>

<body background="/picture/index1.jpg">
<section class="register-type">
    <h1 >Rigister</h1>
    <br>
    <br>
    <form action = "#" method="get" align="right" padding="50px 80px 0 20px">
        <p>
            <label for="username">
                Username:
            </label>
            <input type="text" id="username">
        </p>

        <p>
            <label for="password">
                Password:
            </label>
            <input type="text" id="password">
        </p>
        <p>
            <label for="confirmp">
                Confirm:
            </label>
            <input type="text" id="confirmp">
        </p>
        <br>
        <div align="center">
            <input type = "button" id = "submit-btn" value = "register">
        </div>

    </form>

</section>

</body>
</html>