<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>UserInfo</title>
	<link rel="stylesheet"
	      href="css/user.css"
	      type="text/css"/>
</head>
<body>
<div id="showUid"
     th:text="${uid}"
     hidden>
</div>

<div class="column_1_show">
	nickname:
	<span id="showNickname"
	      th:text="${nickname}"></span>
</div>

<div id = "user_column">
	<form id = "user_form">
		<p>
			<label for="old_password">
				oldPassword:
			</label>
			<input type="text" id="old_password">
		</p>

		<p>
			<label for="new_password">
				newPassword:
			</label>
			<input type="text" id="new_password">
		</p>

		<p>
			<label for="new_nickname">
				newNickname:
			</label>
			<input type="text" id="new_nickname">
		</p>

		<input type = "button" id = "cancel_btn" value = "cancel" onclick="window.location.href = 'moments'">

		<input type="button" value="submit" id="submit-btn" onclick="mySubmit()">

	</form>

</div>

<script language="JavaScript">
    let uid = document.getElementById("showUid").innerText;
</script>
<script type="text/javascript"
        src="js/user.js"></script>
<script type="text/javascript"
        src="js/utility.js"></script>
</body>
</html>